*.js
!jest.config.js
!release.config.js
!lib/lambda/**/*.js
lib/lambda/subject-lookup-policy.js
*.d.ts
node_modules
.context-values.json
exports
.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out
lib/lambda/subject-lookup-policy.js
