name: Checks

on:
  pull_request:
    branches: [main]

jobs:
  run-checks:
    name: Run checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'

      - name: Install dependencies
        run: npm ci --no-audit --prefer-offline
        env:
          npm_config_fund: 'false'
          npm_config_progress: 'false'
          HUSKY: '0'

      - name: Check formatting
        run: npx prettier@$(node -p "require('./package.json').devDependencies['prettier']") --check .

      - name: Build CDK app
        run: npm run build

      - name: Use placeholder context values
        uses: DamianReeves/write-file-action@v1.3
        with:
          path: cdk.context.json
          write-mode: overwrite
          contents: |
            {
              "stackLabel": "dev",
              "amazonConnect": {
                "instanceArn": "placeholder",
                "securityKeyId": "placeholder",
                "securityKeyCertificateContent": "-----BEGIN CERTIFICATE-----\\n-----END CERTIFICATE-----\\n",
                "addAppsToWorkspace": true,
                "receiptQueueArn": "placeholder"
              },
              "c3": {
                "env": "dev",
                "vendorId": "placeholder",
                "paymentGateway": "Zift",
                "apiKey": "placeholder",
                "logoUrl": "placeholder",
                "supportPhone": "placeholder",
                "supportEmail": "placeholder"
              },
              "features": {
                "agentAssistedIVR": true,
                "agentAssistedLink": true,
                "selfServiceIVR": true,
                "subjectLookup": "required-editable",
                "receiptApp": true
              },
              "options": {
                "codeSigning": true,
                "ivrSpeaking": {
                  "rate": "medium",
                  "volume": "medium" 
                }
              }
            }

      - name: Synthesize CloudFormation templates
        run: npx cdk synth

      - name: Run tests
        run: npm test
