name: Release

on:
  push:
    branches:
      - main

jobs:
  # Uses sematic-release to create release notes
  release:
    name: Release
    runs-on: ubuntu-latest
    # Don't try to create a release if the commit was made by Dependabot
    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Get all history for tags
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'

      - name: Install dependencies
        run: npm ci --no-audit --prefer-offline --ignore-scripts --include=dev
        env:
          npm_config_fund: 'false'
          npm_config_progress: 'false'
          HUSKY: '0'

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_PAT }}
        run: npx semantic-release
